&die_temp {
    status = "okay";
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; /* 100 kHz */
};

/ {
    gpio_keys {
        compatible = "gpio-keys";
        user_button: button_0 {
            label = "User";
            gpios = <&gpioe 9 GPIO_ACTIVE_LOW>;
        };
    };
};
